<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gkyt.ywgk.modular.dao.mapper.FamiliesMapper">
	<resultMap id="BaseResultMap"
		type="com.gkyt.ywgk.modular.dao.model.Families">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="prisoner_id" property="prisonerId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="relationship" property="relationship" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" />
		<result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
		<result column="balance" property="balance" jdbcType="DOUBLE" />
		<result column="last_trade_no" property="lastTradeNo" jdbcType="VARCHAR" />
		<result column="sys_flag" property="sysFlag" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id,prisoner_id,name,uuid,phone,relationship,created_at,
		updated_at,image_url,balance,last_trade_no,sys_flag
	</sql>

	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from families
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from families order by id desc
	</select>
	
	<select id="getListByPrisonerId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from families 
		where prisoner_id = #{prisonerId,jdbcType=VARCHAR}
		order by id desc
	</select>

	<select id="findPage" parameterType="com.gkyt.ywgk.modular.dao.dto.FamiliesDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from families where 1=1
		<if test="name != null and name != ''">
			and name LIKE "%"#{name,jdbcType=VARCHAR}"%"
		</if>
		<if test="uuid != null and uuid != ''">
			and uuid like "%"#{uuid,jdbcType=VARCHAR}"%"
		</if>
		order by id desc
	</select>

	<delete id="delete" parameterType="java.lang.String">
		delete from families where id
		= #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="save" parameterType="com.gkyt.ywgk.modular.dao.model.Families">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into families (
		version_code,
		version_number,
		type_id,
		description,
		download,
		created_at
		)
		values
		(#{versionCode,jdbcType=VARCHAR}, #{versionNumber,jdbcType=INTEGER},
		#{typeId,jdbcType=INTEGER},
		#{description,jdbcType=VARCHAR},#{download,jdbcType=VARCHAR},#{createdAt,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.gkyt.ywgk.modular.dao.model.Families">
		update families
		set
		version_code =
		#{versionCode,jdbcType=VARCHAR},
		version_number =
		#{versionNumber,jdbcType=INTEGER},
		type_id =
		#{typeId,jdbcType=INTEGER},
		description =
		#{description,jdbcType=VARCHAR},
		download =
		#{download,jdbcType=VARCHAR},
		updated_at =
		#{updatedAt,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<select id="getFamiliesByPrisoner" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		FROM families
		where sys_flag=1 and
		prisoner_id =#{prisonerId,jdbcType=INTEGER}
	</select>
</mapper>