<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.takeaway.modular.dao.mapper.FeedbacksMapper">
	<resultMap id="BaseResultMap" type="com.takeaway.modular.dao.model.Feedbacks">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="order_id" property="orderId" jdbcType="INTEGER" />
		<result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="INTEGER" />
		<result column="goodsScore" property="goodsScore" jdbcType="INTEGER" />
		<result column="foodScore" property="foodScore" jdbcType="INTEGER" />
		<result column="distributionScore" property="distributionScore" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="content" property="content" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id,order_id,merchant_id,item_id,goodsScore,foodScore,distributionScore,created_at,content
	</sql>

	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_feedbacks
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="findPage" parameterType="com.takeaway.modular.dao.dto.FeedbacksDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_feedbacks f,tb_users u
		where f.user_id=u.id
		order by u.id desc
	</select>
	
	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_feedbacks order by id asc
	</select>

	<select id="getByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_feedbacks
		where user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<select id="getByMerchantId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_feedbacks
		where merchant_id = #{merchantId,jdbcType=VARCHAR}
	</select>

	<update id="delete" parameterType="java.lang.String">
		delete from tb_feedbacks where id = #{id,jdbcType=VARCHAR}
	</update>

	<insert id="save" parameterType="com.takeaway.modular.dao.model.Feedbacks">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into tb_feedbacks (
		user_id,order_id,merchant_id,item_id,goodsScore,foodScore,distributionScore,created_at,content
		)
		values
		(
		#{userId,jdbcType=INTEGER}, 
		#{orderId,jdbcType=INTEGER}, 
		#{merchantId,jdbcType=INTEGER}, 
		#{itemId,jdbcType=INTEGER}, 
		#{goodsScore,jdbcType=INTEGER}, 
		#{foodScore,jdbcType=INTEGER}, 
		#{distributionScore,jdbcType=INTEGER}, 
		#{createdAt,jdbcType=TIMESTAMP},
		#{content,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.takeaway.modular.dao.model.Feedbacks">
		update tb_feedbacks
		set
		user_id= #{userId,jdbcType=INTEGER}, 
		name= #{name,jdbcType=VARCHAR},
		phone= #{phone,jdbcType=VARCHAR},
		address= #{address,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>