<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gkyt.ywgk.modular.dao.mapper.JailsMapper">
	<resultMap id="BaseResultMap"
		type="com.gkyt.ywgk.modular.dao.model.Jails">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="street" property="street" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="zipcode" property="zipcode" jdbcType="VARCHAR" />
		<result column="accid" property="accid" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" />
		<result column="image_file_name" property="imageFileName" jdbcType="VARCHAR" />
		<result column="image_content_type" property="imageContentType" jdbcType="VARCHAR" />
		<result column="image_file_size" property="imageFileSize" jdbcType="INTEGER" />
		<result column="image_updated_at" property="imageUpdatedAt" jdbcType="DATE" />
		<result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
		<result column="another_image_url" property="anotherImageUrl" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,title,description,street,district,city,state,zipcode,accid,created_at,updated_at,
		image_file_name,image_content_type,image_file_size,image_updated_at,image_url, another_image_url
	</sql>

	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from jails
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="getByCitysId" parameterType="java.lang.String" resultType="com.gkyt.ywgk.modular.dao.dto.JailsDto">
		select
		*
		from jails
		where citys_id = #{citysId,jdbcType=VARCHAR}
	</select>

	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from jails order by id desc
	</select>

	<select id="findPage" parameterType="com.gkyt.ywgk.modular.dao.dto.JailsDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from jails where 1=1
		<if test="title != null and title != ''">
			and title LIKE "%"#{title,jdbcType=VARCHAR}"%"
		</if>
		order by id desc
	</select>
	
	<select id="getByConditons" parameterType="com.gkyt.ywgk.modular.dao.dto.JailsDto" 
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from jails where 1=1 
		<if test="state != null and state != ''">
			and state = #{state,jdbcType=VARCHAR}
		</if>
		<if test="city != null and city != ''">
			and city = #{city,jdbcType=VARCHAR}
		</if>
		order by id desc
	</select>

	<delete id="delete" parameterType="java.lang.String">
		delete from jails where id
		= #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="save" parameterType="com.gkyt.ywgk.modular.dao.model.Jails">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into jails (
		title,
		description,
		street,
		district,
		city,
		state,
		zipcode,
		accid,
		created_at,
		updated_at,
		image_file_name,
		image_content_type,
		image_file_size,
		image_updated_at,
		image_url,
		another_image_url
		)
		values
		(#{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR},
		#{district,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
		#{zipcode,jdbcType=VARCHAR}, #{accid,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP},
		#{updatedAt,jdbcType=TIMESTAMP}, #{imageFileName,jdbcType=VARCHAR}, #{imageContentType,jdbcType=VARCHAR},
		#{imageFileSize,jdbcType=INTEGER},#{imageUpdatedAt,jdbcType=TIMESTAMP},#{imageUrl,jdbcType=VARCHAR},#{anotherImageUrl,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.gkyt.ywgk.modular.dao.model.Jails">
		update jails
		set
		zipcode =
		#{zipcode,jdbcType=VARCHAR},
		title =
		#{title,jdbcType=VARCHAR},
		description =
		#{description,jdbcType=VARCHAR},
		street =
		#{street,jdbcType=VARCHAR},
		district =
		#{district,jdbcType=VARCHAR},
		city =
		#{city,jdbcType=VARCHAR},
		state =
		#{state,jdbcType=VARCHAR},
		image_url =
		#{imageUrl,jdbcType=VARCHAR},
		another_image_url =
		#{anotherImageUrl,jdbcType=VARCHAR},
		updated_at =
		#{updatedAt,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<select id="getByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from jails
		where zipcode = #{prison,jdbcType=VARCHAR}
	</select>
</mapper>