<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.takeaway.modular.dao.mapper.OrderHistorysMapper">
	<resultMap id="BaseResultMap" type="com.takeaway.modular.dao.model.OrderHistorys">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="order_type" property="orderType" jdbcType="INTEGER" />
		<result column="meals" property="meals" jdbcType="INTEGER" />
		<result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
		<result column="packingCharge" property="packingCharge" jdbcType="DECIMAL" />
		<result column="deliverMoney" property="deliverMoney" jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
		<result column="is_pay" property="isPay" jdbcType="INTEGER" />
		<result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
		<result column="pay_sno" property="paySno" jdbcType="VARCHAR" />
		<result column="realTotalMoney" property="realTotalMoney" jdbcType="DECIMAL" />	
		<result column="is_ship" property="isShip" jdbcType="INTEGER" />		
		<result column="ship_date" property="shipDate" jdbcType="TIMESTAMP" />	
		<result column="is_receipt" property="isReceipt" jdbcType="INTEGER" />		
		<result column="receipt_date" property="receiptDate" jdbcType="TIMESTAMP" />	
		<result column="is_received" property="isReceived" jdbcType="INTEGER" />		
		<result column="received_date" property="receivedDate" jdbcType="TIMESTAMP" />	
		<result column="refund_apply_date" property="refundApplyDate" jdbcType="TIMESTAMP" />
		<result column="is_refund" property="isRefund" jdbcType="INTEGER" />		
		<result column="refund_date" property="refundDate" jdbcType="TIMESTAMP" />
		<result column="refund_money" property="refundMoney" jdbcType="DECIMAL" />
		<result column="refundSrcStatus" property="refundSrcStatus" jdbcType="INTEGER" />		
		<result column="is_reservation" property="isReservation" jdbcType="INTEGER" />		
		<result column="reservation_date" property="reservationDate" jdbcType="TIMESTAMP" />	
		<result column="is_reminder" property="isReminder" jdbcType="INTEGER" />		
		<result column="reminder_date" property="reminderDate" jdbcType="TIMESTAMP" />		
		<result column="is_distribution" property="isDistribution" jdbcType="INTEGER" />	
		<result column="distribution_date" property="distributionDate" jdbcType="TIMESTAMP" />	
		<result column="merchant_type" property="merchantType" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />		
		<result column="pay_type" property="payType" jdbcType="INTEGER" />
		<result column="is_invoice" property="isInvoice" jdbcType="INTEGER" />
		<result column="invoiceClient" property="invoiceClient" jdbcType="VARCHAR" />
		<result column="is_appraises" property="isAppraises" jdbcType="INTEGER" />
		<result column="appraises_date" property="appraisesDate" jdbcType="TIMESTAMP" />	
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="userPhone" property="userPhone" jdbcType="VARCHAR" />
		<result column="userAddress" property="userAddress" jdbcType="VARCHAR" />
		<result column="platform_commission" property="platformCommission" jdbcType="DECIMAL" />	
		<result column="orderScore" property="orderScore" jdbcType="INTEGER" />		
		<result column="couponMoney" property="couponMoney" jdbcType="DECIMAL" />	
		<result column="activityMoney" property="activityMoney" jdbcType="DECIMAL" />	
	</resultMap>
	<sql id="Base_Column_List">
		id,order_no,merchant_id,user_id,order_type,meals,total_price,packingCharge,deliverMoney,
		status,created_at,updated_at,is_pay,pay_date,pay_sno,realTotalMoney,is_ship,ship_date,is_receipt,receipt_date,
		is_received,received_date,refund_apply_date,is_refund,refund_date,refund_money,refundSrcStatus,is_reservation,reservation_date,is_reminder,
		reminder_date,is_distribution,distribution_date,merchant_type,remark,pay_type,is_invoice,invoiceClient,is_appraises,appraises_date,userName,userPhone,
		userAddress,platform_commission,orderScore,couponMoney,activityMoney
	</sql>

	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_order_historys
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="getProcessing" resultType="java.lang.Integer" >
		select count(o.id) as processing  from tb_order_historys o where o.`status`=0;
	</select>
	
	<select id="getRefunding" resultType="java.lang.Integer" >
		select count(o.id) as refunding from tb_order_historys o where o.`status`=3;
	</select>
	
	<select id="getTodayOrderHistorys" resultType="java.lang.Integer" >
		select count(o.id) as todayOrderHistorys from tb_order_historys o where date(o.created_at) = curdate();
	</select>
	
	<select id="getTodayTurnover" resultType="java.lang.Double" >
		select sum(o.total_price) as todayTurnover from tb_order_historys o where date(o.created_at) = curdate();
	</select>

	<select id="findPage" parameterType="com.takeaway.modular.dao.dto.OrderHistorysDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_order_historys 
		where 1=1 
		<if test="orderNo != null and orderNo != ''">
			and order_no = #{orderNo,jdbcType=VARCHAR}
		</if>
		<if test="merchantId != null and merchantId != ''">
			and merchant_id = #{merchantId,jdbcType=VARCHAR}
		</if>
		order by id desc
	</select>

	<update id="delete" parameterType="java.lang.String">
		update tb_order_historys
		set status = 9
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<insert id="save" parameterType="com.takeaway.modular.dao.model.OrderHistorys">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into tb_order_historys (
		order_no,merchant_id,user_id,order_type,meals,total_price,packingCharge,deliverMoney,
		status,created_at,updated_at,is_pay,pay_date,pay_sno,realTotalMoney,is_ship,ship_date,is_receipt,receipt_date,
		is_received,received_date,refund_apply_date,is_refund,refund_date,refund_money,refundSrcStatus,is_reservation,
		reservation_date,is_reminder,
		reminder_date,is_distribution,distribution_date,merchant_type,remark,pay_type,is_invoice,invoiceClient,
		is_appraises,appraises_date,userName,userPhone,
		userAddress,platform_commission,orderScore,couponMoney,activityMoney
		)
		values
		(
		#{orderNo,jdbcType=VARCHAR}, #{merchantId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},
		#{orderType,jdbcType=INTEGER}, #{meals,jdbcType=INTEGER},#{totalPrice,jdbcType=DECIMAL},
		#{packingCharge,jdbcType=DECIMAL},#{deliverMoney,jdbcType=DECIMAL},
		#{status,jdbcType=INTEGER},#{createdAt,jdbcType=TIMESTAMP},#{updatedAt,jdbcType=TIMESTAMP},#{isPay,jdbcType=INTEGER},
		#{payDate,jdbcType=TIMESTAMP},#{paySno,jdbcType=VARCHAR},#{realTotalMoney,jdbcType=DECIMAL},
		#{isShip,jdbcType=INTEGER},#{shipDate,jdbcType=TIMESTAMP},#{isReceipt,jdbcType=INTEGER},
		#{receiptDate,jdbcType=TIMESTAMP},#{isReceived,jdbcType=INTEGER},#{receivedDate,jdbcType=TIMESTAMP},
		#{refundApplyDate,jdbcType=TIMESTAMP},#{isRefund,jdbcType=INTEGER},#{refundDate,jdbcType=TIMESTAMP},#{refundMoney,jdbcType=DECIMAL},#{refundSrcStatus,jdbcType=INTEGER},
		#{isReservation,jdbcType=INTEGER},#{reservationDate,jdbcType=TIMESTAMP},#{isReminder,jdbcType=INTEGER},#{reminderDate,jdbcType=TIMESTAMP},
		#{isDistribution,jdbcType=INTEGER},#{distributionDate,jdbcType=TIMESTAMP},#{merchantType,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR},
		#{payType,jdbcType=INTEGER},#{isInvoice,jdbcType=INTEGER},#{invoiceClient,jdbcType=VARCHAR},#{isAppraises,jdbcType=INTEGER},#{appraisesDate,jdbcType=TIMESTAMP},
		#{userName,jdbcType=VARCHAR},#{userPhone,jdbcType=VARCHAR},#{userAddress,jdbcType=VARCHAR},#{platformCommission,jdbcType=DECIMAL},
		#{orderScore,jdbcType=INTEGER},#{couponMoney,jdbcType=DECIMAL},#{activityMoney,jdbcType=DECIMAL}
		)
	</insert>

	<update id="update" parameterType="com.takeaway.modular.dao.model.OrderHistorys">
	update tb_order_historys
	<set>
		<if test="status != null">
			status = #{status,jdbcType=INTEGER},
		</if>
		<if test="updatedAt != null">
			updated_at = #{updatedAt,jdbcType=TIMESTAMP},
		</if>
		<if test="isPay != null">
			is_pay = #{isPay,jdbcType=INTEGER},
		</if>
		<if test="payDate != null">
			pay_date = #{payDate,jdbcType=TIMESTAMP},
		</if>
		<if test="paySno != null">
			pay_sno = #{paySno,jdbcType=VARCHAR},
		</if>
		<if test="isShip != null">
			is_ship = #{isShip,jdbcType=INTEGER},
		</if>
		<if test="shipDate != null">
			ship_date = #{shipDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isReceipt != null">
			is_receipt = #{isReceipt,jdbcType=INTEGER},
		</if>
		<if test="receiptDate != null">
			receipt_date = #{receiptDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isReceived != null">
			is_received = #{isReceived,jdbcType=INTEGER},
		</if>
		<if test="receivedDate != null">
			received_date = #{receivedDate,jdbcType=TIMESTAMP},
		</if>
		<if test="refundApplyDate != null">
			refund_apply_date = #{refundApplyDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isRefund != null">
			is_refund = #{isRefund,jdbcType=INTEGER},
		</if>
		<if test="refundDate != null">
			refund_date = #{refundDate,jdbcType=TIMESTAMP},
		</if>
		<if test="refundMoney != null">
			refund_money = #{refundMoney,jdbcType=DECIMAL},
		</if>
		<if test="isReservation != null">
			is_reservation = #{isReservation,jdbcType=INTEGER},
		</if>
		<if test="reservationDate != null">
			reservation_date = #{reservationDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isReminder != null">
			is_reminder = #{isReminder,jdbcType=INTEGER},
		</if>
		<if test="reminderDate != null">
			reminder_date = #{reminderDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isDistribution != null">
			is_distribution = #{isDistribution,jdbcType=INTEGER},
		</if>
		<if test="distributionDate != null">
			distribution_date = #{distributionDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isInvoice != null">
			is_invoice = #{isInvoice,jdbcType=INTEGER},
		</if>
		<if test="isAppraises != null">
			is_appraises = #{isAppraises,jdbcType=INTEGER},
		</if>
		<if test="appraisesDate != null">
			appraises_date = #{appraisesDate,jdbcType=TIMESTAMP} 
		</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  	</update>
</mapper>