<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.takeaway.modular.dao.mapper.OrderCanclesMapper">
	<resultMap id="BaseResultMap" type="com.takeaway.modular.dao.model.OrderCancles">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_id" property="orderId" jdbcType="INTEGER" />
		<result column="refund_no" property="refundNo" jdbcType="VARCHAR" />
		<result column="size" property="size" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="oper_at" property="operAt" jdbcType="TIMESTAMP" />
		<result column="oper_man" property="operMan" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id,order_id,refund_no,size,name,
		total_price,created_at,oper_at,oper_man
	</sql>

	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_order_cancles 
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="getByRefundNo" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_order_cancles 
		where refund_no = #{refundNo,jdbcType=VARCHAR}
	</select>

	<select id="findPage" parameterType="com.takeaway.modular.dao.dto.OrderCanclesDto"
		resultMap="BaseResultMap">
		select
		oc.* 
		from tb_order_cancles oc,tb_orders o 
		where oc.order_id=o.id 
		<if test="merchantId != null and merchantId != ''">
			and o.merchant_id = #{merchantId,jdbcType=VARCHAR}
		</if>
		order by oc.id desc
	</select>
	
	<insert id="save" parameterType="com.takeaway.modular.dao.model.OrderCancles">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into tb_order_cancles (
		order_id,refund_no,size,name,total_price,created_at
		)
		values
		(
		#{orderId,jdbcType=INTEGER},#{refundNo,jdbcType=VARCHAR},#{size,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},#{totalPrice,jdbcType=DECIMAL},#{createdAt,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.takeaway.modular.dao.model.OrderCancles">
	update tb_order_cancles
	<set>
		<if test="updatedAt != null">
			updated_at = #{updatedAt,jdbcType=TIMESTAMP},
		</if>
		<if test="isPay != null">
			is_pay = #{isPay,jdbcType=INTEGER},
		</if>
		<if test="payDate != null">
			pay_date = #{payDate,jdbcType=TIMESTAMP},
		</if>
		<if test="paySno != null">
			pay_sno = #{paySno,jdbcType=VARCHAR},
		</if>
		<if test="isShip != null">
			is_ship = #{isShip,jdbcType=INTEGER},
		</if>
		<if test="shipDate != null">
			ship_date = #{shipDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isReceipt != null">
			is_receipt = #{isReceipt,jdbcType=INTEGER},
		</if>
		<if test="receiptDate != null">
			receipt_date = #{receiptDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isReceived != null">
			is_received = #{isReceived,jdbcType=INTEGER},
		</if>
		<if test="receivedDate != null">
			received_date = #{receivedDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isRefund != null">
			is_refund = #{isRefund,jdbcType=INTEGER},
		</if>
		<if test="refundDate != null">
			refund_date = #{refundDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isReservation != null">
			is_reservation = #{isReservation,jdbcType=INTEGER},
		</if>
		<if test="reservationDate != null">
			reservation_date = #{reservationDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isReminder != null">
			is_reminder = #{isReminder,jdbcType=INTEGER},
		</if>
		<if test="reminderDate != null">
			reminder_date = #{reminderDate,jdbcType=TIMESTAMP},
		</if>
		<if test="isDistribution != null">
			is_distribution = #{isDistribution,jdbcType=INTEGER},
		</if>
		<if test="isInvoice != null">
			is_invoice = #{isInvoice,jdbcType=INTEGER},
		</if>
		<if test="isAppraises != null">
			is_appraises = #{isAppraises,jdbcType=INTEGER},
		</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  	</update>
</mapper>