<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gkyt.ywgk.modular.dao.mapper.RegistrationsMapper">
	<resultMap id="BaseResultMap" type="com.gkyt.ywgk.modular.dao.model.Registrations">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="jail_id" property="jailId" jdbcType="INTEGER" />
		<result column="prisoner_id" property="prisonerId" jdbcType="INTEGER" />
		<result column="family_id" property="familyId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="DATE" javaType="java.sql.Timestamp" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" javaType="java.sql.Timestamp"/>
		<result column="prisoner_number" property="prisonerNumber" jdbcType="VARCHAR" />
		<result column="relationship" property="relationship" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,jail_id,prisoner_id,family_id,name,phone,uuid,created_at,updated_at,
		prisoner_number,relationship,status,remarks,gender
	</sql>
	
	<select id="findPage" parameterType="com.gkyt.ywgk.modular.dao.dto.RegistrationsDto"
		resultType="com.gkyt.ywgk.modular.dao.dto.RegistrationsDto">
		select r.*, 
		r.prisoner_number as prisonerNumber,
		r.jail_id as jailId,
		r.created_at as createdAt,
		r.updated_at as updatedAt
		from registrations r
		where 1=1
		<if test="name != null and name != ''">
			and r.name LIKE "%"#{name,jdbcType=VARCHAR}"%"
		</if>
		<if test="prisonerNumber != null and prisonerNumber != ''">
			and r.prisoner_number like "%"#{prisonerNumber,jdbcType=VARCHAR}"%"
		</if>
		<if test="uuid != null and uuid != ''">
			and r.uuid like "%"#{uuid,jdbcType=VARCHAR}"%"
		</if>
		order by r.id desc
	</select>
	
	<select id="getByFamilyId" parameterType="java.lang.String" resultType="com.gkyt.ywgk.modular.dao.dto.RegistrationsDto">
		select r.id,r.jail_id as jailId,r.prisoner_id as prisonerId,r.family_id as familyId,r.name,r.phone,r.uuid,
		r.created_at as createdAt,r.updated_at as updatedAt,r.prisoner_number as prisonerNumber,r.relationship,r.`status`,
		r.gender,r.remarks,p.prison_term_started_at as prisonTermStartedAt,p.prison_term_ended_at as prisonTermEndedAt
		from registrations r, prisoners p 
		where r.prisoner_id=p.id and family_id = #{familyId,jdbcType=VARCHAR}
	</select>
	
	<select id="getWaits" parameterType="java.lang.String" resultType="com.gkyt.ywgk.modular.dao.dto.RegistrationsDto">
		select r.id,r.jail_id as jailId,r.prisoner_id as prisonerId,r.family_id as familyId,r.name,r.phone,r.uuid,
		r.created_at as createdAt,r.updated_at as updatedAt,r.prisoner_number as prisonerNumber,r.relationship,r.`status`,
		r.gender,r.remarks
		from registrations r
		where 1=1 and status='PENDING' 
		<if test="familyId != null and familyId != ''">
			and r.family_id = #{familyId,jdbcType=VARCHAR}
		</if>
		<if test="prisonerId != null and prisonerId != ''">
			and r.prisoner_id = #{prisonerId,jdbcType=VARCHAR}
		</if>
		order by r.id desc
	</select>
	
	<insert id="save" parameterType="com.gkyt.ywgk.modular.dao.model.Registrations">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into registrations (
		jail_id,
		prisoner_id,
		family_id,
		name,
		phone,
		uuid,
		gender,
		prisoner_number,
		relationship,
		created_at,
		updated_at
		)
		values
		(#{jailId,jdbcType=INTEGER},#{prisonerId,jdbcType=INTEGER},#{familyId,jdbcType=INTEGER},
		 #{name,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{uuid,jdbcType=VARCHAR},
		#{gender,jdbcType=VARCHAR},#{prisonerNumber,jdbcType=VARCHAR},#{relationship,jdbcType=VARCHAR},
		#{createdAt,jdbcType=TIMESTAMP},#{updatedAt,jdbcType=TIMESTAMP})
	</insert>
	
	<update id="update" parameterType="com.gkyt.ywgk.modular.dao.dto.RegistrationsDto">
		update registrations
		set
		status =
		#{status,jdbcType=VARCHAR},
		remarks =
		#{remarks,jdbcType=VARCHAR},
		updated_at =
		#{updatedAt,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>