<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gkyt.ywgk.modular.dao.mapper.UsersMapper">
	<resultMap id="BaseResultMap" type="com.gkyt.ywgk.modular.dao.model.Users">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="salt" property="salt" jdbcType="VARCHAR" />
		<result column="hashed_password" property="hashedPassword" jdbcType="VARCHAR" />
	 	<result column="md5_password" property="md5Password" jdbcType="VARCHAR" /> 
		<result column="role" property="role" jdbcType="INTEGER" />
		<result column="jail_id" property="jailId" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" />
		<result column="sys_flag" property="sysFlag" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="SecondResultMap" type="com.gkyt.ywgk.modular.dao.dto.UsersListDto">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="role" property="role" jdbcType="INTEGER" />
		<result column="jail" property="jail" jdbcType="VARCHAR" />
		<result column="jail_id" property="jailId" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" />
		<result column="sys_flag" property="sysFlag" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, username,salt, hashed_password,md5_password,role,jail_id,created_at,updated_at,sys_flag
	</sql>

	
	<select id="isSysLogin" parameterType="com.gkyt.ywgk.modular.dao.dto.UsersDto" resultType="com.gkyt.ywgk.modular.dao.dto.UsersDto" >
		select
		u.id, u.username,u.md5_password as md5Password,u.role,u.jail_id as jailId,j.title as jailName,u.created_at as createdAt
		from users u LEFT OUTER JOIN jails j on u.jail_id=j.id
		where u.username = #{username,jdbcType=VARCHAR} and u.md5_password = #{md5Password,jdbcType=VARCHAR}
	</select>
	
  	<select id="login" parameterType="com.gkyt.ywgk.modular.dao.dto.UsersDto" resultType="com.gkyt.ywgk.modular.dao.dto.UsersDto" >
		select
		u.id, u.username,u.md5_password as md5Password,u.role,u.jail_id as jailId,j.title as jailName,u.created_at as createdAt
		from users u LEFT OUTER JOIN jails j on u.jail_id=j.id
		where u.username = #{username,jdbcType=VARCHAR} and u.md5_password = #{md5Password,jdbcType=VARCHAR} and j.zipcode = #{prison,jdbcType=VARCHAR}
	</select>
	
	<select id="getUsersByConditions" parameterType="com.gkyt.ywgk.modular.dao.dto.UsersDto" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from users 
		where username = #{username,jdbcType=VARCHAR} and md5_password = #{md5Password,jdbcType=VARCHAR} 
	</select>
	
	<select id="checkLoginName" parameterType="java.lang.String" resultType="java.lang.Integer" >
		select
		count(0)
		from users
		where username = #{username,jdbcType=VARCHAR}
	</select>
	
	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from users
		where id = #{id,jdbcType=VARCHAR} 
	</select>
	
	<select id="findPage" parameterType="com.gkyt.ywgk.modular.dao.dto.UsersDto" resultMap="BaseResultMap">
	     select 
	     u.*,j.title as jailName,r.role_name as roleName
	     from users u left join jails j on u.jail_id=j.id LEFT JOIN tb_sysrole r on u.role_id=r.id 
	     where 1=1 and u.is_delete=0 
	     <if test="roleId != null and roleId != ''">
		     and u.role_id = #{roleId,jdbcType=VARCHAR} 
		 </if>
		<if test="status != null and status != ''">
		     and u.status = #{status,jdbcType=VARCHAR} 
		 </if>
	   	 <if test="loginName != null and loginName != ''">
		     and u.login_name like '%' || #{loginName,jdbcType=VARCHAR} || '%'
		 </if>
	   	 <if test="startTime != null and startTime != ''">
		     and u.created_at &gt;= #{startTime,jdbcType=VARCHAR} 
		 </if>
		 <if test="endTime != null and endTime != ''">
		     and u.created_at &lt;= #{endTime,jdbcType=VARCHAR} 
		 </if>
	      order by u.id desc
	</select>
	
  	<update id="delete" parameterType="java.lang.String">
	    update users
	    set is_delete = 1
	    where id = #{id,jdbcType=VARCHAR}
  	</update>
  	
  	<insert id="save" parameterType="com.gkyt.ywgk.modular.dao.model.Users">
	    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
	   	insert into users (
			username,
			salt,
			hashed_password,
			md5_password,
			jail_id,
			role,
			created_at,
			updated_at
	      )
	    values (#{username,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{hashedPassword,jdbcType=VARCHAR},
	      #{md5Password,jdbcType=VARCHAR}, #{jailId,jdbcType=INTEGER}, #{role,jdbcType=INTEGER},
	       #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
	      )
  	</insert>
  
    <update id="update" parameterType="com.gkyt.ywgk.modular.dao.model.Users">
	    update users
	    set 
	      username = #{username,jdbcType=VARCHAR},
	      salt = #{salt,jdbcType=VARCHAR},
	      hashed_password = #{hashedPassword,jdbcType=VARCHAR},
	      md5_password = #{md5Password,jdbcType=VARCHAR},
	      jail_id = #{jailId,jdbcType=INTEGER},
	      role = #{role,jdbcType=INTEGER},
	      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
		  sys_flag = #{sysFlag,jdbcType=INTEGER}
	    where id = #{id,jdbcType=INTEGER}
  	</update>

	<select id="getUserList" resultMap="SecondResultMap" parameterType="java.util.Map" >
		select
		users.id, username, jails.title as jail, jail_id, role, users.created_at, users.updated_at
		from users LEFT JOIN jails on jails.id = users.jail_id where sys_flag = 1
		<if test="username !=null and username != ''">
			AND username LIKE "%"#{username, jdbcType=VARCHAR }"%"
		</if>
		<if test="jail !=null and jail != ''">
			AND jails.title LIKE "%"#{jail, jdbcType=VARCHAR }"%"
		</if>
		<if test="role != null and role != 0">
			AND role =#{role, jdbcType=INTEGER}
		</if>
		order by id desc
	</select>
</mapper>