<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.takeaway.modular.dao.mapper.UserScoresMapper">
	<resultMap id="BaseResultMap" type="com.takeaway.modular.dao.model.UserScores">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="dataSrc" property="dataSrc" jdbcType="INTEGER" />
		<result column="dataRemarks" property="dataRemarks" jdbcType="VARCHAR" />
		<result column="scoreType" property="scoreType" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id,score,dataSrc,dataRemarks,scoreType,created_at
	</sql>

	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_user_scores
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="findPage" parameterType="com.takeaway.modular.dao.dto.UserScoresDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_user_scores us,tb_users u
		where us.user_id=u.id
		order by u.id desc
	</select>
	
	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_user_scores order by id asc
	</select>

	<select id="getByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_user_scores
		where user_id = #{userId,jdbcType=VARCHAR}
	</select>

	<update id="delete" parameterType="java.lang.String">
		delete from tb_user_scores where id = #{id,jdbcType=VARCHAR}
	</update>

	<insert id="save" parameterType="com.takeaway.modular.dao.model.UserScores">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into tb_user_scores (
		user_id,score,dataSrc,dataRemarks,scoreType,created_at
		)
		values
		(#{userId,jdbcType=INTEGER}, 
		#{score,jdbcType=INTEGER}, 
		#{dataSrc,jdbcType=INTEGER}, 
		#{dataRemarks,jdbcType=VARCHAR},
		#{scoreType,jdbcType=INTEGER},
		#{createdAt,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.takeaway.modular.dao.model.UserScores">
		update tb_user_scores
		set
		user_id= #{userId,jdbcType=INTEGER}, 
		score= #{score,jdbcType=INTEGER}, 
		dataSrc= #{dataSrc,jdbcType=INTEGER}, 
		dataRemarks= #{dataRemarks,jdbcType=VARCHAR},
		scoreType= #{scoreType,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>