<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.takeaway.modular.dao.mapper.UsersMapper">
	<resultMap id="BaseResultMap" type="com.takeaway.modular.dao.model.Users">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="wx_token" property="wxToken" jdbcType="VARCHAR" />
		<result column="password_hash" property="passwordHash"
			jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="invite_code" property="inviteCode" jdbcType="VARCHAR" />
		<result column="avatar" property="avatar" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="ori" property="sex" jdbcType="VARCHAR" />
		<result column="grade" property="point" jdbcType="INTEGER" />
		<result column="point" property="point" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="DATE" />
		<result column="updated_at" property="updatedAt" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name,wx_token, password_hash,phone,type,real_name,
		address,invite_code,avatar,birthday,sex,status,ori,created_at,updated_at
	</sql>

	<select id="login" parameterType="com.takeaway.modular.dao.dto.UsersDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_users
		where is_delete=0 and login_name =
		#{loginName,jdbcType=VARCHAR} and login_pwd =
		#{loginPwd,jdbcType=VARCHAR}
	</select>

	<select id="checkLoginName" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select
		count(0)
		from tb_users
		where
		is_delete=0 and login_name
		= #{loginName,jdbcType=VARCHAR}
	</select>

	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_users
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="findPage" parameterType="com.takeaway.modular.dao.dto.UsersDto"
		resultType="com.takeaway.modular.dao.dto.UsersDto">
		select u.id,u.`name`,u.created_at as createdAt,u.sex,u.birthday,u.phone,u.address,u.point,u.grade,
		(select count(0) from tb_orders o where o.user_id=u.id) as orderCount,
		(select sum(o.total_price) from tb_orders o where o.user_id=u.id and o.is_pay=1) as totalPrice
		from tb_users u where u.status=1 
		<if test="phone != null and phone != ''">
			and u.phone = #{phone,jdbcType=VARCHAR}
		</if>
		<if test="name != null and name != ''">
			and u.name = #{name,jdbcType=VARCHAR}
		</if>
		order by u.id desc
	</select>

	<update id="delete" parameterType="java.lang.String">
		update tb_users
		set status = -1
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<insert id="save" parameterType="com.takeaway.modular.dao.model.Users">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into tb_users (
		name,
		wx_token, 
		password_hash,
		phone,
		type,
		real_name,
		address,
		invite_code,
		avatar,
		birthday,
		sex,
		status,
		ori,
		grade,
		point,
		created_at
		)
		values
		(#{name,jdbcType=VARCHAR}, #{wxToken,jdbcType=VARCHAR},
		#{passwordHash,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER},#{realName,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},#{inviteCode,jdbcType=VARCHAR},
		#{avatar,jdbcType=VARCHAR},#{birthday,jdbcType=VARCHAR},
		#{sex,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},
		#{ori,jdbcType=VARCHAR},#{grade,jdbcType=INTEGER},
		#{point,jdbcType=INTEGER},#{createdAt,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.takeaway.modular.dao.model.Users">
		update tb_users
		set
		real_name =
		#{realName,jdbcType=VARCHAR},
		login_name =
		#{loginName,jdbcType=VARCHAR},
		login_pwd =
		#{loginPwd,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		jail_id = #{jailId,jdbcType=INTEGER},
		role_id =
		#{roleId,jdbcType=INTEGER},
		updated_at =
		#{updatedAt,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>